.logo {
	background: url('../img/logo.svg');
	background-position: center;
	background-size: cover;
	height: 250px;
	width: 183px;
	transition: height .2s;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-o-transition: height .2s;
}