body {
	font-family: 'Alegreya Sans SC', sans-serif;
}

header.description {
	background-color: #FC710A;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	transition: height .2s;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	-o-transition: height .2s;
}

header.description.small {
	height: 200px;
}

header.description #site-name {
	font-weight: bold;
	color: #000000;
}

header.description #site-name.site-name-small {
	float: right;
}

header.description h2#brief-desc {
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 15px; 
}

header.description h4#long-desc {
	color: #FFFFFF;
}

.feature-content {
	opacity: 0;
}

.feature-image {
	opacity: 0;
}

.feature-content p {
	font-family: 'Abel', sans-serif;
}

.content {
	margin-top: 50px;
}

.block {
	margin-top: 
	50px;
}

.feature-content p {
	font-size: 20px;
}

.title {
	font-size: 35px;
	font-weight: bold;
	color: #FC710A;
}

.border {
	border-top: 1px solid #FC710A;
	height: 2px;
	margin-bottom: 30px;
}

.monk-download-primary {
	border-radius: 0;
	border: 2px solid #FFFFFF;
	padding: 10px 40px;
	background-color: #FFFFFF;
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #FC710A;
	font-weight: bold;
	font-size: 15px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.monk-download-primary:hover {
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}

.monk-download {
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 2px solid #FC710A;
	border-radius: 0;
	background-color: #FC710A;
	padding: 10px 40px;
	margin-top: 30px;
	margin-bottom: 40px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}


.monk-download:hover {
	background-color: transparent;
	border: 2px solid #FC710A;
	color: #FC710A;
}

.footer {
	margin-top: 50px;
	height: 160px;
	width: 100%;
}

.logo-footer {
	max-height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.thanks {
	margin-bottom: 20px;
}

.thanks span {
	font-size: 13px;
	word-spacing: 3px;
}

.footer-icon {
	max-height: 20px;
	display: inline;
}

@media screen and ( max-width: 990px ) {
	.invert {
		display: flex;
		flex-flow: column;
	}
	.feature-image {
		order: 2;
	}
}