/**
 * All of the CSS on public side of the Monk_Language_Switcher widget should be
 * included in this file.
 */
.monk_language_switcher {
	overflow: visible !important;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang:before,
div#monk-language-switcher ul.monk-language-dropdown li.monk-lang:after {
	content: '';
	margin: 0;
	padding: 0;
}

div#monk-language-switcher {
	border: none;
	cursor: pointer;
	-webkit-hyphens: initial;
    -moz-hyphens: initial;
    -ms-hyphens: initial;
    hyphens: initial;
	margin: 0;
	max-width: 230px;
	padding: 0;
	position: relative;
	text-overflow: ellipsis;
	width: 100%;
}

div#monk-language-switcher ul.monk-language-dropdown {
	background-color: #fff;
	border: 1px solid;
	border-top: none;
	box-sizing: border-box;
	display: none;
	margin: 0;
	width: 100%;
	padding: 0;
	position: absolute;
	z-index: 9999;
}

div#monk-language-switcher div.monk-current-lang span.monk-dropdown-arrow {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang {
	background-color: #000;
	border: none;
	font: 400 13px/1.8 "Open Sans", sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang:hover {
	background-color: #0e0e0e;
}

div#monk-language-switcher div.monk-current-lang {
	background-color: #fff;
	border: 1px solid;
	display: block;
	font: 400 13px/1.8 "Open Sans", sans-serif;
	list-style: none;
	padding: 3px 0;
}

div#monk-language-switcher div.monk-current-lang:hover {
	background-color: #efefef;
}

div#monk-language-switcher div.monk-current-lang.monk-language-switcher-open {
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.5);
	color: #efefef;
}

div#monk-language-switcher div.monk-current-lang span.monk-current-lang-name {
	color: #000;
	display: block;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div#monk-language-switcher div.monk-current-lang span.monk-current-lang-name span.monk-language-name,
div#monk-language-switcher ul.monk-language-dropdown li.monk-lang a.monk-language-link span.monk-language-name {
	padding-left: 10px;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang a.monk-language-link {
	color: #fff;
	display: block;
	padding: 4px 0;
	text-decoration: none;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang a.monk-language-link:before,
div#monk-language-switcher ul.monk-language-dropdown li.monk-lang a.monk-language-link:after {
	content: '';
	margin: 0;
	padding: 0;
}

div#monk-language-switcher ul.monk-language-dropdown li.monk-lang a.monk-language-link span.monk-language-flag,
div#monk-language-switcher div.monk-current-lang span.monk-current-lang-name span.monk-language-flag {
	margin-left: 10px;
	width: 18px;
}

div#monk-language-switcher div.monk-love {
	box-sizing: border-box;
	line-height: normal;
	margin-top: 5px;
	padding: 0;
	font-size: 12px;
}

div#monk-language-switcher div.monk-love span.monk-heart {
	padding: 0;
	font-size: 12px;
	color: #de1414;
	line-height: normal;
	margin-top: 0.18em;
}
