/**
 * All of the CSS on public side of the Monk_Language_Switcher widget should be
 * included in this file.
 */
ul#monk-selector {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid;
	margin: 0;
	min-width: 200px;
	padding: 0;
	position: absolute;
	z-index: 9999;
}

ul#monk-selector span.monk-selector-arrow {
	float: right;
	margin-right: 5px;
}

ul#monk-selector li.monk-lang {
	background-color: #ddd;
	display: none;
	font: 400 13px/1.8 "Open Sans", sans-serif;
	list-style: none;
	padding: 0;
}

ul#monk-selector li.monk-lang:before {
	content: "";
	padding: 0;
}

ul#monk-selector li.monk-active-lang {
	background-color: #fff;
	display: block;
	font: 400 13px/1.8 "Open Sans", sans-serif;
	list-style: none;
	padding: 0;
}

ul#monk-selector li.monk-active-lang:before {
	content: "";
	padding: 0;
}

ul#monk-selector li.monk-active-lang span.monk-active-lang-name {
	color: #000;
	display: block;
}

ul#monk-selector li.monk-lang a.monk-selector-link {
	color: #001aab;
	display: block;
}

ul#monk-selector li.monk-active-lang a.monk-selector-link:hover {
	color: #5a55ff;
}

ul#monk-selector li.monk-active-lang span.monk-active-lang-name span.monk-selector-flag,
ul#monk-selector li.monk-lang a.monk-selector-link span.monk-selector-flag {
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 10px;
	width: 16px;
}
