* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

span.ui-selectmenu-text {
	display: inline;
	margin: 0 25px;
}

span.ui-selectmenu-button {
	padding: 3px;
}

option.widget-option {
	background-repeat: no-repeat !important;
	padding-left: 20px;
}
.widget-option .ui-icon {
	background-position: left top;
}

#widget-language-select {
	border-radius: 5px;
    width: 150px;
}

.ui-menu .ui-icon {
    float: right;
    right: 10px;
    top: 5px;
    left: inherit;
    bottom: inherit;
    margin: 0;
    position: relative;
}
