.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}

.flag-icon-da_DK {
  background-image: url(../flags/4x3/dk.svg);
}

.flag-icon-en_US {
  background-image: url(../flags/4x3/us.svg);
}

.flag-icon-fr_FR {
  background-image: url(../flags/4x3/fr.svg);
}

.flag-icon-de_DE {
  background-image: url(../flags/4x3/de.svg);
}

.flag-icon-it_IT {
  background-image: url(../flags/4x3/it.svg);
}

.flag-icon-ja {
  background-image: url(../flags/4x3/jp.svg);
}

.flag-icon-pt_BR {
  background-image: url(../flags/4x3/br.svg);
}

.flag-icon-ru_RU {
  background-image: url(../flags/4x3/ru.svg);
}

.flag-icon-es_ES {
  background-image: url(../flags/4x3/es.svg);
}
