/**
 * All of the CSS on admin side of the Monk_Language_Switcher widget should be
 * included in this file.
 */
.monk-input-text {
	margin-bottom: 15px;
}

.monk-label-block {
	display: block;
}

.monk-widgets-form .monk-input-checkbox,
.monk-widgets-form .monk-input-radio {
	margin-bottom: 5px;
	margin-right: 10px;
}
