/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
th.column-languages {
	width: 15%;
}

td.languages.column-languages {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	text-align: center;
}

.column-languages,
.column-languages a {
	cursor: pointer;
}

 div.monk-post-meta-text label {
	font-weight: 600;
	line-height: 1em;
	margin: 0 0 8px 0;

 }

 div.monk-post-meta-text label:before {
	font: 400 20px/1 dashicons;
	color: #82878c;
	content: '\f326';
	margin: 0 7px 0 -2px;
	vertical-align: top;
 }

 div.monk-post-meta-text h2 {
	color: #82878c;
 }

 .monk-add-translation, .monk-change-language, .button-cancel {
	text-decoration: underline;
	cursor: pointer;
 }

 .monk-post-meta-add-translation {
	display: none;
	margin-top: 15px;
 }

 .monk-change-current-language {
	display: none;
	margin: 10px 0 15px;
 }

 .monk-post-meta-option:before {
	font: 400 20px/1 dashicons;
	color: #82878c;
 }

 .monk-translated-to {
	margin-top: 10px;
 }

 .monk-translated-to li a {
	text-decoration: none;
 }

 .option-disabled {
	opacity: 0.5;
	pointer-events: none;
 }

#monk-language {
	width: 95%;
}

.monk-translation-link {
	border-bottom: 1px solid #fff;
	color: #32373c;
	display: block;
	padding: 3px 15px;
	text-align: left;
}

.monk-new-post-link {
	color: #32373c;
	display: block;
	font: 12px arial, sans-serif;
	padding: 7px 15px 0;
	text-align: left;
}

span.flag-icon-monk-pencil {
	display: block;
	margin: 0 auto;
}

.monk-language-name {
	font: 11px arial, sans-serif;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 65%;
}

.monk-selector-flag {
	float: right;
	padding-top: 7px; 
}

.monk-column-translations {
	padding: 7px 0;
	z-index: 9999;
}

.monk-column-translations-arrow {
	border-bottom: 7px solid #303030;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0; 
	margin: 0 auto;
	width: 0; 
}

div.monk-hide {
	display: none;
}

td.languages div.hide-if-js.monk-show {
	background-color: #303030;
	display: block;
	position: absolute;
	width: 100%;
}

td.languages div.hide-if-js.monk-show a.monk-translation-link,
td.languages div.hide-if-js.monk-show a.monk-new-post-link {
	color: #fff;
}

td.languages div.hide-if-js.monk-show a.monk-translation-link.monk-language {
	color: #0073aa;
}

td.languages div.hide-if-js.monk-show a.monk-translation-link:hover,
td.languages div.hide-if-js.monk-show a.monk-new-post-link:hover {
	color: #00a0d2;
}

.monk-language {
	color: #0073aa;
}
