/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.monk-banner h2 {
	font-weight: 400;
}

th.column-languages {
	width: 15%;
}

.column-languages a:focus {
	box-shadow: none;
	outline: none;
}

 div.monk-post-meta-text label {
	font-weight: 600;
	line-height: 1em;
	margin: 0 0 8px 0;

 }

 div.monk-post-meta-text label:before {
	font: 400 20px/1 dashicons;
	color: #82878c;
	content: '\f326';
	margin: 0 7px 0 -2px;
	vertical-align: top;
 }

 div.monk-post-meta-text h2 {
	color: #82878c;
 }

 .monk-add-translation, .monk-change-language, .button-cancel {
	text-decoration: underline;
	cursor: pointer;
 }

 .monk-post-meta-add-translation {
	display: none;
	margin-top: 15px;
 }

 .monk-change-current-language {
	display: none;
	margin: 10px 0 15px;
 }

 .monk-post-meta-option:before {
	font: 400 20px/1 dashicons;
	color: #82878c;
 }

 .monk-translated-to {
	margin-top: 10px;
 }

 .monk-translated-to li a {
	text-decoration: none;
 }

 .option-disabled {
	opacity: 0.5;
	pointer-events: none;
 }

.monk-translation-link {
	border-bottom: 1px solid #fff;
	color: #32373c;
	display: block;
	padding: 3px 15px;
	text-align: left;
}

.monk-button-wrapper,
.monk-flag-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.monk-column-translations .monk-new-translation-link {
	margin-left: 10px;
}

.monk-new-translation-link:hover {
	background-color: #d8d8d8;
	border: 1px solid #fff;
}

.monk-column-translations {
	display: table;
	padding: 0 0 7px;
	z-index: 9999;
}

div.monk-language-field {
	padding-top: 8px;
}

.monk-language-name {
	margin-right: 10px;
}

.add-menu-translation {
	text-align: right;
	float: right;
	margin-right: 10px;
}

.add-menu-translation .button {
	height: 30px;
}

.menu-flag {
	font-size: 15px;
	margin-right: 5px;
}

.menu-translations {
	border-top: 1px solid #eee;
	margin-top: 2em;
}

div.menu-translations ul.current-menu-translations li {
	float: left;
	margin-right: 10px;
}

#monk-form-settings p.submit {
	display: inline-block;
}

#monk-form-settings .monk-spinner {
	margin-top: 0;
	float: none;
}

.monk-message {
	display: inline-block;
}

.monk-hide {
	display: none;
}

.monk-form-settings .submit {
	display: inline-block;
}

.monk-form-settings .monk-spinner {
	float: none;
	margin-top: 0;
}

#monk-checkbox-not-selected-message {
	color: #ff0000;
}

.monk-label {
	overflow: hidden;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}

.monk-active-tab {
	pointer-events: none;
}

.monk-description {
	color: #adadad;
	display: block;
	font-size: 13px;
	font-style: italic;
	padding-left: 24px;
}
